[project]
name = "api"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "aiomysql>=0.3.2",
    "databases>=0.9.0",
    "fastapi[standard]>=0.123.10",
    "pymysql>=1.1.2",
]
